* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
}

h1 {
  width: 100%
}

h2 {
  padding: 0;
}

.flex-row {
  display: flex;
  flex: 1;
  align-items: flex-start;
}

.flex-large {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 1rem;
}

.flex-large table, .flex-large form {
  width: 100%;
  border: 1px solid #eee;
  padding: 1rem;
}

.flex-large table {
  text-align: center;
}

.flex-large form {
  min-height: 150px;
  background-color: #eee;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}

form div {
  width: 100%;
}

form input {
  width: 100%;
  height: 2rem;
  margin: 1rem 0;
  font-size: 1rem;
  padding: .5rem;
}



.flex-large table button {
  margin: 0 .4rem;
  padding: .2rem .4rem;
}

.table-head th {
  border-bottom: 1px solid #eee;
}

tbody td {
  padding: .5rem 0;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-container button {
  height: 2rem;
  width: 4rem;
}

