* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  max-width: 80%;
  margin: 0 auto;
}

h1 {
  width: 100%
}

h2 {
  padding: 0;
}

.flex-row {
  display: flex;
  flex: 1;
  align-items: flex-start;
}

.flex-large {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 1rem;
}

.flex-large table, .flex-large form {
  width: 100%;
  border: 1px solid #eee;
  padding: 1rem;
}

.flex-large table {
  text-align: center;
}

.flex-large form {
  height: 150px;
  background-color: #eee;
  margin-top: 0;
}

.flex-large form {
  display: flex;
}

form div {
  flex: 1
}



.flex-large table button {
  margin: 0 .4rem;
  padding: .2rem .4rem;
}

.table-head th {
  border-bottom: 1px solid #eee;
}

tbody td {
  padding: .5rem 0;
}

